*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-text: white;
    --dark-blue: #06283D; 
    --fs-sm: 1.5rem;
    --fs-md: 5rem;
    --fs-lg: 10rem;
}

body{
    background-image: url(../images/rps-background.webp);
    font-family: "Roboto", sans-serif;
    color: var(--clr-text);
}

/*-- Home --*/
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__title{
    font-size: var(--fs-md);
    color: var(--dark-blue);
}

.home__play-btn{
    font-size: var(--fs-lg);
    color: var(--dark-blue);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.home__play-btn:hover{
    color: var(--clr-text);
    transform: scale(1.1);
}

/*-- Game --*/
.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game__title{
    font-size: var(--fs-sm);
}

.game__score{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    font-size: 5vmin;
    margin: 2rem 0;
    text-align: center;
}

.game__text{
    font-size: var(--fs-sm);
}

.game__rp-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45vw;
    height: 15rem;
    /* border: 1px solid black; */
}

.message-container{
    text-align: center;
}

.message{
    font-size: var(--fs-sm);
}

.game-restart{
    font-family: "Roboto", sans-serif;
    font-size: var(--fs-sm);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .1);
    transition: all .2s ease-in-out;
}
.game-restart:hover{
    transform: scale(1.1);
}

.choice{
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.choice:hover{
    transform: scale(1.5);
}

.game__scissors-container{
    width: 45vw;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.disappear{
    display: none;
}